li {
	list-style-type: none;
}

ul {
	padding: 0;
}

.places {
	width: 100%;
	text-align: center;
}

.places h1 {
	font-size: 30px;
}

.places article {
	display: inline-block;
	width: 390px;
	margin: 20px;
	padding: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
}

.places article h2 {
	font-size: 30px;
	text-align: center;
	display: inline-block;
}

.places article .price_by_night {
	display: inline-block;
	float: right;
	color: #ff5a5f;
	border: 4px solid #ff5a5f;
	border-radius: 50%;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
}

.price_by_night p {
	margin: 15px auto;
}

.information {
	width: 100%;
	height: 80px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	/* Vertical alignment is needed here */
}

.information div {
	display: inline-block;
	width: 100px;
}

.information div p {
	margin: 0 auto;
	display: inline-block;
}

.max_guest .icon {
	margin: 0 auto;
	background-image: url("../images/icon_group.png");
	background-repeat: no-repeat;
	padding: 20px;
	margin: 5px;
	background-size: contain;
}

.number_rooms .icon {
	background-image: url("../images/icon_bed.png");
	background-repeat: no-repeat;
	padding: 20px;
	margin: 5px;
	background-size: contain;
}

.number_bathrooms .icon {
	background-image: url("../images/icon_bath.png");
	background-repeat: no-repeat;
	padding: 20px;
	margin: 5px;
	background-size: contain;
}

.user, .description {
	text-align: left;
}

.places .amenities {
	display: block;
	width: 100%;
	margin-top: 40px;
}

.places .amenities h2 {
	font-size: 16px;
	border-bottom: 1px solid #ddd;
	display: block;
	width: 100%;
	text-align: left;
}

.amenities ul li {
	text-align: left;
	list-style-type: none;
	display: block;
}

.amenities ul li p {
	display: inline-block;
	padding: 0px;
	margin: 0;
	background-repeat: no-repeat;
	background-size: contain;
}

.amenities ul li .icon_wifi {
	background-image: url("../images/icon_wifi.png");
	padding: 10px 20px;
}

.amenities ul li .icon_tv {
	background-image: url("../images/icon_tv.png");
	padding: 10px 20px;
}

.amenities ul li .icon_pet {
	background-image: url("../images/icon_pets.png");
	padding: 10px 20px;
}

.reviews {
	margin-top: 40px;
	display: block;
	text-align: left;
}

.places article .reviews h2 {
	font-size: 16px;
	text-align: left;
	display: block;
	border-bottom: 1px solid #ddd;
}

.places article .reviews ul {
}
